menuconfig MSM_CAMERA
    bool "Qualcomm MSM camera and video capture support"
    depends on ARCH_MSM && I2C && ANDROID_PMEM
    default y
    help
      Say Y here to enable selecting the video adapters for
      Qualcomm msm camera and video encoding
comment "Camera Sensor Selection"
config MT9T013
	bool "Sensor mt9t013 (BAYER 3M)"
	---help---
	  MICRON 3M Bayer Sensor with AutoFocus

config MT9D112
	bool "Sensor mt9d112 (YUV   2M)"
	---help---
	  MICRON 2M YUV Sensor
